In [12]:
'''

@Author: Vighnesh Harish Bilgi
@Date: 2022-12-09
@Last Modified by: Vighnesh Harish Bilgi
@Last Modified time: 2022-12-09
@Title : Data Modelling - 1 : Demo

'''

'\n\n@Author: Vighnesh Harish Bilgi\n@Date: 2022-12-09\n@Last Modified by: Vighnesh Harish Bilgi\n@Last Modified time: 2022-12-09\n@Title : \n\n'

In [13]:
import mysql.connector
import os

In [14]:
sql_password = os.environ.get("sql_password")

### Custom functions to connect to the mysql server and iterate the cursor

In [15]:
def iterate_cursor(db_cursor):
    """
    Description:
        Take MySQLCursor argument from parameter "db_cursor" and iterate and print the selected records with its column name 
        (i.e. a SELECT or SHOW command must be called before iterate_cursor() is called).
    Parameter:
        MySQLCursor db_cursor
    Return:
        No values returned.
    """
    print(db_cursor.column_names)
    for db in db_cursor:
        print(db)

def connect_to_sql():
    """
    Description:
        To setup connection to MySQL Server, pass hostname , user and password as arguments to parameters "host","user" and "passwd" of connect() respectively.
        connect() is method from module "mysql.connector". Once the connection is set. Return it.
    Parameter:
        No parameters.
    Return:
        MYSQLConnection db_connection
    """

    db_connection = mysql.connector.connect(
    host= "localhost",
    user= "root",
    passwd= sql_password
    )

    return db_connection

### Custom functions to create database 'myfirstdb'

In [16]:
def create_database(db_cursor):
    """
    Description:
        Take MySQLCursor argument from parameter "db_cursor" and create database
        Return updated cursor. 
    Parameter:
        MySQLCursor db_cursor
    Return:
        MySQLCursor db_cursor
    """
    print("Creating DATABASE - myfirstdb\n")
    db_cursor.execute("DROP DATABASE IF EXISTS myfirstdb")
    db_cursor.execute("CREATE DATABASE myfirstdb")

    print("Showing all databases...")
    db_cursor.execute("SHOW DATABASES")
    iterate_cursor(db_cursor)

    print("\nUsing myfirstdb")
    db_cursor.execute("USE myfirstdb")

    return db_cursor

### Custom function to create table 'students'

In [23]:
def create_table(db_cursor):
    """
    Description:
        Take MySQLCursor argument from parameter "db_cursor" and create table.
        Return updated cursor. 
    Parameter:
        MySQLCursor db_cursor
    Return:
        MySQLCursor db_cursor
    """

    print("Creating TABLE - students")
    db_cursor.execute("""CREATE TABLE IF NOT EXISTS students (student_id INT(5), name VARCHAR(20), age INT(5), gender VARCHAR(10),subject VARCHAR(20),marks INT(3))""")

    print("Showing all tables under myfirstdb...")
    db_cursor.execute("SHOW TABLES")
    iterate_cursor(db_cursor)

    print("Showing 'students' Table schema  ...")
    db_cursor.execute("DESCRIBE students")
    iterate_cursor(db_cursor)
    return db_cursor

### Custom function to insert records into table 'students'

In [47]:
def insert_table(db_cursor,record):
    """
    Description:
        Take MySQLCursor argument from parameter "db_cursor" and perform Create Operation of CRUD by applying execute() on cursor.
        Return updated cursor. 
    Parameter:
        MySQLCursor db_cursor
    Return:
        MySQLCursor db_cursor
    """

    print(f"Inserting record {record} into table...\n")
    db_cursor.execute(f"""INSERT INTO students (student_id, name, age, gender, subject, marks) 
                        VALUES {record}""")
    return db_cursor

### Custom function to show all records from table 'students'

In [43]:
def show_all_records(db_cursor):
    """
    Description:
        Take MySQLCursor argument from parameter "db_cursor" and show all records from table.
        Return updated cursor. 
    Parameter:
        MySQLCursor db_cursor
    Return:
        MySQLCursor db_cursor
    """

    print("Printing records from table...\n")
    db_cursor.execute("SELECT * FROM students")
    iterate_cursor(db_cursor)
    return db_cursor

### Call fuction to connect to mysql cursor and get a cursor to execute queries

In [19]:
db_connection = connect_to_sql()
db_cursor = db_connection.cursor()

### Call function to create database 'myfirstdb'

In [20]:
db_cursor = create_database(db_cursor)

Creating DATABASE - myfirstdb

Showing all databases...
('Database',)
('information_schema',)
('myfirstdb',)
('mysql',)
('performance_schema',)
('sys',)

Using myfirstdb

### Call function to create table 'students'

In [49]:
db_cursor = create_table(db_cursor)

Creating TABLE - students
Showing all tables under myfirstdb...
('Tables_in_myfirstdb',)
('students',)
Showing 'students' Table schema  ...
('Field', 'Type', 'Null', 'Key', 'Default', 'Extra')
('student_id', 'int', 'YES', '', None, '')
('name', 'varchar(20)', 'YES', '', None, '')
('age', 'int', 'YES', '', None, '')
('gender', 'varchar(10)', 'YES', '', None, '')
('subject', 'varchar(20)', 'YES', '', None, '')
('marks', 'int', 'YES', '', None, '')

### Insert records into table 'students'

In [50]:
record = (1,'Raj',23,'Male','Python',85)
db_cursor = insert_table(db_cursor,record)
record = (2,'Priya',22,'Female','Python',86)
db_cursor = insert_table(db_cursor,record)
show_all_records(db_cursor)

Inserting record (1, 'Raj', 23, 'Male', 'Python', 85) into table...

Inserting record (2, 'Priya', 22, 'Female', 'Python', 86) into table...

Printing records from table...

('student_id', 'name', 'age', 'gender', 'subject', 'marks')
(1, 'Raj', 23, 'Male', 'Python', 85)
(2, 'Priya', 22, 'Female', 'Python', 86)

### Close cursor

In [51]:
db_cursor.close()

True